.menu {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.menu li{
    list-style-type: none;
    display: inline-flex;
}

.menu li a{
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 16px;
    padding-left: 16px;
}